<component name="ArtifactManager">
  <artifact type="war" name="spring-data-jpa-test:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-data-jpa-test.war">
      <element id="artifact" artifact-name="spring-data-jpa-test:war exploded" />
    </root>
  </artifact>
</component>